body{
    background-color: #93B5C6;
    margin: 0%;
}

.navbar {
    overflow: hidden;
    display: flex;
    background-color: #082032;
    position: fixed;
    top: 0;
    width: 100%; 
  }
  
.navbar a {
    display: block;
    color: #A19882;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: #506D84;
    color: black;
  }

.logo{
    margin-top: 10px;
    margin-left: 10px;
}

.table{
    margin-top: 100px;
}